body {
    font-family: "Inter", sans-serif;
    font-weight: 400, 600, 700;
    background-color: #141414;
}

#active {
    color: #c5f82a;
}

#name {
    font-size: 23px;
}

.sect-1 {
    background-color: #1F1F1F;
    width: 25%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.space-1 {
    line-height: 10px;
}

div p {
    color: white;
    font-size: 14px;
}

img {
    border-radius: 50%;
    width: 30%;
    margin-top: 15px;
}

#who-me {
    padding: 15px 0;
}

button {
    background-color: #333333;
    width: 85%;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: #141414;
    align-items: center;
}

button:hover {
    background-color: #c5f82a;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}